:root {
  --email-list-width: 20%;
}

.email-list {
  background-color: rgb(227 226 226);
  height: 100%;
  width: var(--email-list-width);
  position: absolute;
  top: 0;
  left: var(--main-sidebar-width);
  border-right: 1px solid rgb(224 222 222);
  overflow-y: scroll;
}