.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  transition: all 0.3s ease, transform 0.3s ease;
}

.icon-button:hover {
  cursor: pointer;
  background-color: rgb(115 112 112);
}