:root {
  --main-container-width: 92vw;
  --main-container-height: 92vh;
}

.main-layout {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: var(--main-container-width);
  height: var(--main-container-height);
  position: relative;
}

.main-contact {
  width: var(--main-container-width);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 4vw;
  top: 0;
}